
@{
    ViewData["Title"] = "Sayfa Bulunamadı";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="text-center mt-5">
    <h1 class="display-4 text-danger">4000004</h1>
    <h3>Oooops, aradığınız sayfa bulunamadı.</h3>
    <a href="/" class="btn btn-primary mt-3">Anasayfaya Dön</a>
</div>
