
<section id="contact" class="contact section">

	<!-- Section Title -->
	<div class="container section-title" data-aos="fade-up">
		<h2>İletişim</h2>
		<p>İletişim bilgilerimiz ve mesaj gönderme alanından benimle iletişime geçebilirsiniz..</p>
	</div><!-- End Section Title -->

	<div class="container" data-aos="fade-up" data-aos-delay="100">

		<div class="row gy-4">

			@await Component.InvokeAsync("_DefaultContactMeComponentPartial")

			@await Component.InvokeAsync("_DefaultMessageComponentPartial")
			
			<!-- End Contact Form -->

		</div>

	</div>

</section>